@font-face {
	font-family: "Ubuntu";
	src: url("../font/Ubuntu.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "zero5";
	src: url("../font/zero5.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "futuris-cyrillic";
	src: url("../font/futuris-cyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "micra-bold";
	src: url("../font/micra-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}