html, body{
	width: 100%;
	height: 100%;
}
a,p,h1,h2,h3,h4,h5,h6,span,li{
	font-family: zero5;
}
h1{
	text-align: center;
}
a{
	text-decoration: none;
}
header, section, footer{
	height: 100vh;
}
section{
	padding: 5% 0;
}
.logo-nav{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	height: 10%;
	background-color: #FCFCFC;
	box-shadow: 2px 2px 5px #666666;
	transition: width .5s;
}
.click-logo{
	display: none;
	width: 100%;
}
.click-logo img{
	width: 80%;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
.logo-nav-width{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 2%;
	background: transparent;
	box-shadow: 0px 0px 5px #00BEDF;
	animation-name: logo-mini;
	animation-duration: 1.5s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	transition: width .5s;
}
.phone-mail{
	position: fixed;
	top: 11%;
	width: 100%;
	height: 2.5rem;
	text-align: center;
	z-index: 2;
	background: rgba(255,255,255, .8);
	box-shadow: 1px 1px 3px #000000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.phone-mail a{
	padding: .1rem .5rem;
	font-weight: 900;
	letter-spacing: 1px;
	color: #595959;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	transition: letter-spacing 1s;
}
.phone-mail a:hover{
	animation-name: p-m;
	animation-duration: 1.5s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	letter-spacing: 0px;
	transition: letter-spacing 1s;
}
@keyframes p-m {
	0% {
		letter-spacing: 1px;
	}
	50% {
		letter-spacing: 2px;
	}
	100% {
		letter-spacing: 1px;
	}
}
.phone-mail a span{
	color:  #0093B9;
	font-size: 1.5rem;
	padding: 0 0 0 .5rem;
}
.phone-mail .fa{
	font-size: 1.8rem;
	padding:0 .2rem 0 0;
	color: rgba(228,134,113, 1);
}
/* logo-mini */
@keyframes logo-mini {
	0% {
		box-shadow: 0 0 10px 1px #00BEDF, inset 0 0 20px 1px #00BEDF;
	}
	50% {
		box-shadow: 0 0 20px 2px #0093B9, inset 0 0 10px 2px #0093B9;
	}
	100% {
		box-shadow: 0 0 10px 1px #00BEDF, inset 0 0 20px 1px #00BEDF;
	}
}
.logo-nav .container, .logo-nav .row{
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.logo{
	width: 25%;
	height: 100%;
	display: block;
	position: relative;
}
.logo a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

}
.logo img{
	display: block;
	width: 77%;
	animation-name: logo-blink;
	animation-duration: 1.5s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	opacity: .1;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
nav{
	height: 100%;
	width: 70%;
}
nav ul{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
}
nav ul li{
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction:row;
	letter-spacing: 1px;
}
header nav a{
	position: relative;
	font-weight: 600;
	width: 100%;
	height: 100%;
	padding: 0 1.1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #595959;
	transition: color .5s, background-color .5s;
}
header nav a:hover{
	color: #00BEDF;
}
header nav a::after{
	position: absolute;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-top: 5px solid #00BEDF;
	background-color: rgba(103, 189, 221, .2);
	opacity: 0;
	transition: color .5s, background-color .5s, opacity .5s;
}
header nav a:hover::after{
	opacity: 1;
	transition: opacity .5s;
}
header nav a span{
	font-weight: 300;
	font-size: .8rem;
}
.slider-title{
	position: relative;
	//z-index: 1;
	//background: url(../img/Top-pictures-for-head1.jpg) no-repeat, rgba(238,238,238, .5);
	//background-size: cover;
	//background-position: center center;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.bgi{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/Top-pictures-for-head1.jpg) no-repeat, rgba(238,238,238, .5);
	background-size: cover;
	background-position: center center;
	z-index: -2;

	animation-name: bgi;
	animation-duration: 150s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
/* bgi */
@keyframes bgi {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(2, 2);
	}
	100% {
		transform: scale(1, 1);
	}
}
#home .bgi-sl2{
	background: url(../img/Top-pictures-for-head_2.jpg) no-repeat, rgba(238,238,238, .5);
	background-size: cover;
	background-position: center center;
}
#home .bgi-sl3{
	background: url(../img/Top-pictures-for-head_3.jpg) no-repeat, rgba(238,238,238, .5);
	background-size: cover;
	background-position: center center;
}
.slider-title .container{
	height: 90%;
	padding-top: 6rem;
}
.slide-1{
	border-radius: 10px;
	background-color: rgba(103, 189, 221, .7);
	height: 100%;
	border-top: 2px solid #58A1BD;
}
.abs-fon{
	position: absolute;
	background: rgba(255,255,255, 1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: none;	
}
.slide-1 .row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.slide-1 .row .col-lg-1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.slide-1 .row .col-lg-10{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.slider-title .slide-1 .slide-activ{
	display: flex;
	opacity: 1;
}
.slider-title .slide-1 .none{
	display: none;
}
.left-slide, .right-slide{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(65,163,199, 1);
	border-radius: 3px;
	border: 1px solid #007D99;
	width: 80%;
	cursor: pointer;
	box-shadow: inset 0px 0px 10px rgba(0,152,187, 1);
	transition: box-shadow .5s, border .5s, background-color .5s;
}
.left-slide .fa{
	font-size: 3rem;
	color: #ffffff;
	margin: 0 7% 2px 0;
}
.right-slide .fa{
	font-size: 3rem;
	color: #ffffff;
	margin: 0 0 2px 7%;
}
.left-slide:hover, .right-slide:hover{
	background-color: #55D7F3;
	box-shadow: 2px 2px 7px rgba(0,152,187, 1);
	border: 1px solid transparent;
	transition: box-shadow .5s, border .5s, background-color .5s;
}
.info-slide{
	width: 100%;
	height: 80%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	display: none;
	opacity: 0;
}
.info-slide p{
	width: 80%;
	text-align: justify;
}
h1{
	font-weight: 300;
	font-size: 3.375rem;
	color: #ffffff;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #007D99;
}
.img-blok{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	height: 100%;
}
.shape{
	position: relative;
	border-radius: 10px;
	width: 6vw;
	height: 6vw;
	transition-duration: 0.3s;
	transition-property: transform;
	transform: translateZ(0);
	animation-name: shape_go;
	animation-duration: 1.5s;
	animation-delay: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: translateY(0px);
}
.shape::before {
	pointer-events: none;
	position: absolute;
	content: '';
	top: 115%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: .8;
	background: -webkit-radial-gradient(center, ellipse, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	transform: translateY(0px);
	animation-name: shape-shadow;
	animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


.shape:nth-child(1){
	animation-direction: alternate;
	border: 1px solid #0093B8;
	background: radial-gradient(ellipse at center, rgba(0,156,191, 1) 0%, rgba(0,164,202, 1) 80%);
}
.shape:nth-child(1)::before{
	animation-direction: alternate-reverse;
}
.shape:nth-child(2){
	animation-direction: alternate-reverse;
	border: 1px solid #00A4AF;
	background: radial-gradient(ellipse at center, rgba(0,179,191, 1) 0%, rgba(0,189,201, 1) 80%);
}
.shape:nth-child(2)::before{
	animation-direction: alternate;
}
.shape:nth-child(3){
	animation-direction: alternate;
	border: 1px solid #E97059;
	background: radial-gradient(ellipse at center, rgba(249,132,110, 1) 0%, rgba(255,139,117, 1) 80%);
}
.shape:nth-child(3)::before{
	animation-direction: alternate-reverse;
}
.bottom-order{
	height: 7%;
	width: 22%;
}
.bottom-order a{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	background: linear-gradient(to top, #00A8C9, #00BDDE);
	padding: 0 0 0 8%;
	border-radius: 5px;
	border: 1px solid #00A6C3;
	height: 100%;
	text-shadow: 1px 1px 1px #007D99;
	transition: box-shadow .5s;
}
.bottom-order a .fa{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	font-size: 3rem;
	width: 25%;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	border-left: 1px solid #0093B9;
	padding: 0 0 2% 2%;
	background: linear-gradient(to top, #0092BC, #00ACD5);
	transition: background 10s;
}
/* logo */
@keyframes logo-blink {
	0% {
		opacity: .3;
	}

	10% {
		opacity: 1;
	}

	20% {
		opacity: .3;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: .1;
	}

	70% {
		opacity: .1;
	}

	80% {
		opacity: .1;
	}

	100% {
		opacity: 1;
	}
}

/* shape go */
@keyframes shape_go {
	50% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}
@keyframes shape-shadow {
	0% {
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		opacity: .1;
	}

	50% {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
		opacity: .5;
	}

	100% {
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		opacity: .9;
	}
}

/* Hover Shadow */

@keyframes hover {
	50% {
		-webkit-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		transform: translateY(-3px);
	}

	100% {
		-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@-webkit-keyframes hover-shadow {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}

	50% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}
}

@keyframes hover-shadow {
	0% {
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}

	50% {
		-webkit-transform: translateY(3px);
		-ms-transform: translateY(3px);
		transform: translateY(3px);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}
}

.hover-shadow {
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hover-shadow::before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.hover-shadow:hover {
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

.hover-shadow:hover:before {
	opacity: .4;
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-animation-name: hover-shadow;
	animation-name: hover-shadow;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}


/* section service*/
#work-other{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(../img/fon.png);
}
.work{
	width: 100%;
}
.stage{
	width: 100%;
	border-radius: 10px;
	box-shadow:  -1px 9px 7px -7px rgba(141,141,141, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.fon-stage{
	display: flex;
	border-radius: 10px 10px 0 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	background: radial-gradient(ellipse at center, rgba(228,134,113, 1) 0%, rgba(235,138,117, 1) 80%);
}
.col-lg-4:nth-child(2) .fon-stage{
	background: radial-gradient(ellipse at center, rgba(0,190,223, 1) 0%, rgba(0,166,195, 1) 80%);
}
.col-lg-4:nth-child(3) .fon-stage{
	background: radial-gradient(ellipse at center, rgba(149,58,198, 1) 0%, rgba(191,137,221, 1) 80%);
}
.fon-stage img{
	display: block;
	width: 100%;
}
.inf-stage{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 0 0 10px 10px;
	padding: 10px 5%;
	text-align: justify;
}
.inf-stage h4{
	margin: 0;
	padding: 0 0 10px 0;
	font-weight: 100;
}
.inf-stage span{
	color: #8C8C8C;
	font-weight: 100;
}
.other{
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #666666;
}
#work-other h2{
	font-size: 2rem;
	text-align: center;
	..padding: 5% 0;
	margin: 0;
}
.advantages{
	width: 100%;
}
.block-advantages{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.block-advantages p{
	text-align: justify;
	padding: 0 5%;
	color: #8C8C8C;
}
.block-advantages img{
	display: block;
	width: 30%;
}
.other .col-lg-4:nth-child(2)::after{
	content:"";
	position: absolute;
	top: 25%;
	left: 0;
	height: 50%;
	width: 1px;
	background-color: #E6E6E6;
}
.other .col-lg-4:nth-child(2)::before{
	content:"";
	position: absolute;
	top: 25%;
	right: 0;
	height: 50%;
	width: 1px;
	background-color: #E6E6E6;
}
.inf-advantages{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	text-align: justify;
}
/* room-cleaning */
#room-cleaning{
	position: relative;
	background: url(../img/header-fon.png) no-repeat, rgba(238,238,238, .5);
	background-position: center center;
	background-size: contain;
}
.glass{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom left, rgba(103, 189, 221, .7), rgba(103, 189, 150, .7));
}
.rooms-show{
	width: 100%;
	height: 100%;
}
.rooms-show .container, .rooms-show .row{
	height: 100%;
}
.block-table{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mnu-room{
	width: 100%;
	height: 13%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mnu-room ul{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	background-color: rgba(225,225,225, .8);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.mnu-room .activ-tab-room, .nmu-capab .activ-tab-room{
	background-color: #ffffff;
	color: #424242;
	border-top: 3px solid transparent;
	text-shadow: none;
}
.mnu-room li{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	font-weight: 900;
	border-top: 3px solid rgba(102,102,120, .4);
	color: #797979;
	text-align: center;
	text-shadow: -1px -1px #444, 0 1px 0 #797979;
	letter-spacing: 2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: color .5s, text-shadow .5s;
}
.mnu-room li:first-child{
	border-radius: 10px 0 0 0;
}
.mnu-room li:last-child{
	border-radius: 0 10px 0 0;
}
.mnu-room li:hover, .nmu-capab li:hover{
	color: #00BEDF;
	text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
	transition: color .5s, text-shadow .5s;
}
.mnu-room li::after{
	position: absolute;
	top: -3px;
	left: 0;
	content:'';
	width: 100%;
	height: calc(100% + 3px);
	border-top: 5px solid #00BEDF;
	background-color: rgba(103, 189, 221, .2);
	opacity: 0;
	border-radius: 0;
	transition: color .5s, background-color .5s, opacity .5s;
}
.mnu-room li:hover::after{
	opacity: 1;
	transition: opacity .5s;
}
.mnu-room li:hover:first-child::after{
	border-radius: 10px 0 0 0;
}
.mnu-room li:hover:last-child::after{
	border-radius: 0 10px 0 0;
}
.inf-room{
	width: 100%;
	height: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #FFFFFF;
	border-bottom: 3px solid rgba(102,102,120, .4);
	box-shadow: -1px 9px 7px -7px rgba(102,102,120, .8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.centr-inf-room{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.inf-room-img{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
.inf-room-img p{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.inf-room-img span{
	color: #00BEDF;
	padding: 0 .5rem;
}
.descr-bottom .bottom-order{
	width: 18%;
	height: 65%;
}
.room-img{
	display: block;
	width: 50%;
}
.room-img img{
	display: block;
	width: 100%;
	border-radius: 10px;
}
.descr-bottom{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
/* srction question */
#question{
	background: url(../img/enot_fon.jpg) no-repeat,#F3F3F3;
	position: relative;
	background-size: cover;
	background-position: center center;
	position: relative;
}
#question .glass{
	animation-name: background-linear;
	animation-duration: 10s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: radial-gradient(ellipse at center, rgba(103, 189, 180, .8),rgba(103, 189, 221, .8));
}
#question .container, #question .row, #question .col-lg-12{
	height: 100%;
}
@keyframes background-linear {
	0% {
		opacity: .8;
		background: radial-gradient(ellipse at center, rgba(103, 189, 180, .8),rgba(103, 189, 221, .8) );
		transition: opacity 2s;
	}

	50% {
		opacity: .2;
		transition: opacity 2s;
		background: radial-gradient(ellipse at center, rgba(103, 189, 180, .8),rgba(103, 189, 221, .8));
	}

	100% {
		opacity: .8;
		transition: opacity 2s;
		background: radial-gradient(ellipse at center, rgba(103, 189, 180, .8),rgba(103, 189, 221, .8));
	}
}
.care{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.care-inf{
	width: 100%;
	height: 33%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.care-inf:nth-child(2){
	align-self: center;
}
.care-inf:nth-child(3){
	align-self: flex-end;
}
.care-inf img{
	width: 30%;
}
.care-text{
	width: 70%;
	background-color: rgba(255,255,255, .8);
	border-radius: 10px;
	padding: 1rem 2rem;
}
.care-text p{
	color: #797979;
}
.care-text span{
	font-size: 1.2rem;
	letter-spacing: 1px;
}
/* section capabilities */
#capabilities{
	background: url(../img/carpet.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.table-capab{
	width: 100%;
	height: 60vh;
	box-shadow: -1px 9px 7px -7px rgba(102,102,120, 1);
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.capab-text{
	border-radius: 10px 0 0 10px;
	width: 70%;
	height: 100%;
	box-shadow: 6px -3px 8px -7px rgba(102,102,120, .8);
	border-bottom: 3px solid rgba(102,102,120, .4);
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.capab-text img{
	display: block;
	width: 80%;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}
.capab-text p{
	width: 90%;
	margin: 0;
	text-align: justify;
}
.nmu-capab{
	background-color: #F7F7F7;
	border-bottom: 3px solid rgba(102,102,120, .4);
	border-radius: 0 10px 10px 0;
	width: 30%;
	height: 100%;
}
.nmu-capab ul{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.nmu-capab li{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 1.2rem;
	text-align: center;
	height: 100%;
	width: 100%;
	color: #797979;
	text-shadow: -1px -1px #444, 0 1px 0 #797979;
	transition: color .5s, text-shadow .5s;
}
.nmu-capab li::after{
	position: absolute;
	top: -3px;
	left: 0;
	content:'';
	width: 100%;
	height: calc(100% + 3px);
	border-top: 5px solid #00BEDF;
	background-color: rgba(103, 189, 221, .2);
	opacity: 0;
	border-radius: 0;
	transition: color .5s, background-color .5s, opacity .5s;
}
.nmu-capab li:hover::after{
	opacity: 1;
	transition: opacity .5s;
}
.nmu-capab li:first-child:hover::after{
	opacity: 1;
	border-radius: 0 10px 0 0;
	transition: opacity .5s;
}
.nmu-capab li:end-child:hover::after{
	opacity: 1;
	border-radius: 0 10px 0 0;
	transition: opacity .5s;
}
.nmu-capab .activ-tab-room{
	z-index: 1;
	box-shadow: 0px 7px 7px -7px rgba(102,102,120, .5);
	border-bottom: 1px solid rgba(102,102,120, .4);
}
.nmu-capab li:first-child{
	border-radius: 0 10px 0 0 ;
}
.nmu-capab li:end-child{
	border-radius: 0 0 10px 0 ;
}
/* footer */
footer{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../img/foot.jpg);
	background-position: center center;
	background-size: cover;
}
.cont{
	height: 70%;
	width: 100%;
	background-color: rgba(255,255,255, .5);
	border-top: 1px solid rgba(102,102,120, .4);
	border-bottom: 3px solid rgba(102,102,120, .4);
	box-shadow: -1px 9px 7px -7px rgba(102,102,120, 1);
}
.cont .container, .cont .row, .cont .col-lg-4{
	height: 100%;
}
.foot-img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.foot-img img{
	display: block;
	width: 100%;
}
.foot-form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.foot-form form{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.foot-form label{
	font-family: zero5;
	font-size: 1.5rem;
	text-shadow: -1px -1px #444, 0 1px 0 #797979;
	color: #4D4D4D;
	letter-spacing: 1px;
	text-align: center;
}
.foot-form input, .foot-form textarea{
	background-color: rgba(255,255,255, .5);
	width: 100%;
	border: 1px solid rgba(102,102,120, .4);
	border-radius: 10px;
	box-shadow: -1px 9px 7px -7px rgba(102,102,120, 1);
	padding: .5rem .7rem;
	font-family: zero5;
	letter-spacing: 1px;
}
.foot-form .bottom-order{
	background: linear-gradient(to top, #0092BC, #00ACD5);
	color: #FFFFFF;
}

::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}

:focus::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
:focus::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:focus:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
:focus:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.text-cont{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.text-cont p{
	font-size: 1.5rem;
	letter-spacing: 1px;
	color: #4D4D4D;
}
.text-cont span{
	font-size: 2rem;
	color: #FFFFFF;
	text-shadow: 1px 2px 7px #000000;
	letter-spacing: 2px;
	font-weight: 600;
}
.contact-block{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15%;
}
.contact-block .container, .contact-block .row{
	height: 100%;
}
.contact-block .col-lg-12, .contact-block .col-sm-12{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.contact-block img{
	display: block;
	height: 100%;
}
.soc-link{
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: rgba(0,0,0, 0.2);
	font-size: 2rem;
	border: 1px solid rgba(0,0,0, 0.2);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.2), inset 0 0 15px 0px rgba(0,0,0, 0.2);
	border-radius: 15px;
}
.soc-link .fa{
	width: 7%;
	position: relative;
	cursor: pointer;
	padding: 1rem;
	text-shadow: -1px -1px #444, 0 1px 0 #797979;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: text-shadow .5s;
}
.fa-vk{
	color: rgba(80,119,160, .8);
	transition: color .5s;
}
.fa-vk:hover{
	color: #5077A0;
	text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
	transition: color .5s, text-shadow .5s;
}
.fa-odnoklassniki{
	color: rgba(250,139,16, .8);
	transition: color .5s;
}
.fa-odnoklassniki:hover{
	color: #FA8B10;
	text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
	transition: color .5s, text-shadow .5s;
}
.fa-facebook{
	color: rgba(59,89,152, .8);
	transition: color .5s;
}
.fa-facebook:hover{
	color: #3B5998;
	text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
	transition: color .5s, text-shadow .5s;
}
.fa-instagram{
	color: rgba(205,72,107, .8);
	transition: color .5s;
}
.fa-instagram:hover{
	color: #CD486B;
	text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
	transition: color .5s, text-shadow .5s;
}