html, body{
	width: 100%;
	height: 100%;
}
a,p,h1,h2,h3,h4,h5,h6,span,li{
	font-family: zero5;
}
a{
	text-decoration: none;
}
header, section, footer{
	height: 100vh;
}
section{
	padding: 5% 0;
}
.logo-nav{
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color: #FCFCFC;
	box-shadow: 2px 2px 5px #666666;
}
.logo{
	display: block;
	position: relative;
}
.logo img{
	display: block;
	width: 100%;
	animation-name: logo-blink;
	animation-duration: 1.5s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-iteration-count: 1;
	opacity: .1;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
nav{
	height: 100%;
}
nav ul{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
}
nav ul li{
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction:row;
	letter-spacing: 1px;
}
header nav a{
	position: relative;
	font-size: 1.2rem;
	font-weight: 600;
	width: 100%;
	height: 100%;
	padding: 0 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #595959;
	transition: color .5s, background-color .5s;
}
header nav a:hover{
	color: #00BEDF;
}
header nav a::after{
	position: absolute;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-top: 5px solid #00BEDF;
	background-color: rgba(103, 189, 221, .2);
	opacity: 0;
	transition: color .5s, background-color .5s, opacity .5s;
}
header nav a:hover::after{
	opacity: 1;
	transition: opacity .5s;
}
header nav a span{
	font-weight: 300;
	font-size: .9rem;
}
.slider-title{
	position: relative;
	z-index: 1;
	background: url(../img/Top-pictures-for-head1.jpg) no-repeat, rgba(238,238,238, .5);
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.slider-title .container{
	height: 90%;
	padding-top: 11%;
}
.slide-1{
	border-radius: 10px;
	background-color: rgba(103, 189, 221, .7);
	height: 100%;
	border-top: 2px solid #58A1BD;
}
.slide-1 .row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.slide-1 .row .col-lg-1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.slide-1 .row .col-lg-10{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.left-slide, .right-slide{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(65,163,199, 1);
	border-radius: 3px;
	border: 1px solid #007D99;
	width: 80%;
	cursor: pointer;
	box-shadow: inset 0px 0px 10px rgba(0,152,187, 1);
	transition: box-shadow .5s, border .5s, background-color .5s;
}
.left-slide .fa{
	font-size: 3rem;
	color: #ffffff;
	margin: 0 7% 2px 0;
}
.right-slide .fa{
	font-size: 3rem;
	color: #ffffff;
	margin: 0 0 2px 7%;
}
.left-slide:hover, .right-slide:hover{
	background-color: #55D7F3;
	box-shadow: 2px 2px 7px rgba(0,152,187, 1);
	border: 1px solid transparent;
	transition: box-shadow .5s, border .5s, background-color .5s;
}
.info-slide{
	width: 100%;
	height: 80%;	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.info-slide p{
	width: 60%;
	text-align: justify;
}
h1{
	font-weight: 300;
	font-size: 3.375rem;
	color: #ffffff;
	text-shadow: 1px 1px 1px #007D99;
}
.img-blok{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}
.shape{
	position: relative;
	border-radius: 10px;
	width: 6vw;
	height: 6vw;

	transition-duration: 0.3s;
	transition-property: transform;
	transform: translateZ(0);
	animation-name: shape_go;
	animation-duration: 1.5s;
	animation-delay: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: translateY(0px);
}
.shape::before {
	pointer-events: none;
	position: absolute;
	content: '';
	top: 115%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: .8;
	background: -webkit-radial-gradient(center, ellipse, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	transform: translateY(0px);
	animation-name: shape-shadow;
	animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


.shape:nth-child(1){
	animation-direction: alternate;
	border: 1px solid #0093B8;
	background: radial-gradient(ellipse at center, rgba(0,156,191, 1) 0%, rgba(0,164,202, 1) 80%);
}
.shape:nth-child(1)::before{
	animation-direction: alternate-reverse;
}
.shape:nth-child(2){
	animation-direction: alternate-reverse;
	border: 1px solid #00A4AF;
	background: radial-gradient(ellipse at center, rgba(0,179,191, 1) 0%, rgba(0,189,201, 1) 80%);
}
.shape:nth-child(2)::before{
	animation-direction: alternate;
}
.shape:nth-child(3){
	animation-direction: alternate;
	border: 1px solid #E97059;
	background: radial-gradient(ellipse at center, rgba(249,132,110, 1) 0%, rgba(255,139,117, 1) 80%);
}
.shape:nth-child(3)::before{
	animation-direction: alternate-reverse;
}
.bottom-order{
	height: 7%;
	width: 22%;
}
.bottom-order a{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	background: linear-gradient(to top, #00A8C9, #00BDDE);
	padding: 0 0 0 8%;
	border-radius: 5px;
	border: 1px solid #00A6C3;
	height: 100%;
	text-shadow: 1px 1px 1px #007D99;
	transition: box-shadow .5s;
}
.bottom-order a .fa{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	font-size: 3rem;
	width: 25%;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	border-left: 1px solid #0093B9;
	padding: 0 0 2% 2%;
	background: linear-gradient(to top, #0092BC, #00ACD5);
	transition: background 10s;
}
/* logo */
@keyframes logo-blink {
	0% {
		opacity: .3;
	}

	10% {
		opacity: 1;
	}

	20% {
		opacity: .3;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: .1;
	}

	70% {
		opacity: .1;
	}

	80% {
		opacity: .1;
	}

	100% {
		opacity: 1;
	}
}

/* shape go */
@keyframes shape_go {
	50% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}
@keyframes shape-shadow {
	0% {
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		opacity: .1;
	}

	50% {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
		opacity: .5;
	}

	100% {
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		opacity: .9;
	}
}

/* Hover Shadow */

@keyframes hover {
	50% {
		-webkit-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		transform: translateY(-3px);
	}

	100% {
		-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@-webkit-keyframes hover-shadow {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}

	50% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}
}

@keyframes hover-shadow {
	0% {
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}

	50% {
		-webkit-transform: translateY(3px);
		-ms-transform: translateY(3px);
		transform: translateY(3px);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
		opacity: .4;
	}
}

.hover-shadow {
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hover-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0,83,102, .35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.hover-shadow:hover {
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

.hover-shadow:hover:before {
	opacity: .4;
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-animation-name: hover-shadow;
	animation-name: hover-shadow;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}


/* section service*/
#work-other{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(../img/fon.png);
}
.work{
	width: 100%;
}
.stage{
	width: 100%;
	border-radius: 10px;
	box-shadow:  -1px 9px 7px -7px rgba(141,141,141, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.fon-stage{
	display: flex;
	border-radius: 10px 10px 0 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	background: radial-gradient(ellipse at center, rgba(228,134,113, 1) 0%, rgba(235,138,117, 1) 80%);
}
.col-lg-4:nth-child(2) .fon-stage{
	background: radial-gradient(ellipse at center, rgba(0,190,223, 1) 0%, rgba(0,166,195, 1) 80%);
}
.col-lg-4:nth-child(3) .fon-stage{
	background: radial-gradient(ellipse at center, rgba(149,58,198, 1) 0%, rgba(191,137,221, 1) 80%);
}
.fon-stage img{
	display: block;
	width: 100%;
}
.inf-stage{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 0 0 10px 10px;
	padding: 10px 5%;
	text-align: justify;
}
.inf-stage h4{
	margin: 0;
	padding: 0 0 10px 0;
	font-weight: 100;
}
.inf-stage span{
	color: #8C8C8C;
	font-weight: 100;
}
.other{
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #666666;
}
#work-other h2{
	font-size: 2rem;
	text-align: center;
	..padding: 5% 0;
	margin: 0;
}
.advantages{
	width: 100%;
}
.block-advantages{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.block-advantages p{
	text-align: justify;
	padding: 0 5%;
	color: #8C8C8C;
}
.block-advantages img{
	display: block;
	width: 30%;
}
.other .col-lg-4:nth-child(2)::after{
	content:"";
	position: absolute;
	top: 25%;
	left: 0;
	height: 50%;
	width: 1px;
	background-color: #E6E6E6;
}
.other .col-lg-4:nth-child(2)::before{
	content:"";
	position: absolute;
	top: 25%;
	right: 0;
	height: 50%;
	width: 1px;
	background-color: #E6E6E6;
}
.inf-advantages{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	text-align: justify;
}
/* room-cleaning */
#room-cleaning{
	position: relative;
	background: url(../img/header-fon.png) no-repeat, rgba(238,238,238, .5);
	background-position: center center;
	background-size: contain;
}
.glass{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom left, rgba(103, 189, 221, .7), rgba(103, 189, 150, .7));
}
.rooms-show{
	width: 100%;
	height: 100%;
}
.rooms-show .container, .rooms-show .row{
	height: 100%;
}
.block-table{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mnu-room{
	width: 100%;
	height: 13%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mnu-room ul{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	background-color: rgba(225,225,225, .8);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.mnu-room .activ-tab-room{
	background-color: #ffffff;
	color: #424242;
	border-top: 3px solid transparent;
	text-shadow: none;
}
.mnu-room li{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	font-weight: 900;
	border-top: 3px solid rgba(102,102,120, .4);
	display: inline-block;
	color: #797979;
	transition: color .5s, background-color .5s;
	text-align: center;
	text-shadow: -1px -1px #444, 0 1px 0 #797979;
	letter-spacing: 2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mnu-room li:first-child{
	border-radius: 10px 0 0 0;
}
.mnu-room li:last-child{
	border-radius: 0 10px 0 0;
}
.mnu-room li:hover{
	color: #00BEDF;
	text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
}
.mnu-room li::after{
	position: absolute;
	top: -3px;
	left: 0;
	content:'';
	width: 100%;
	height: calc(100% + 3px);
	border-top: 5px solid #00BEDF;
	background-color: rgba(103, 189, 221, .2);
	opacity: 0;
	border-radius: 0;
	transition: color .5s, background-color .5s, opacity .5s;
}
.mnu-room li:hover::after{
	opacity: 1;
	transition: opacity .5s;
}
.mnu-room li:hover:first-child::after{
	border-radius: 10px 0 0 0;
}
.mnu-room li:hover:last-child::after{
	border-radius: 0 10px 0 0;
}
.inf-room{
	width: 100%;
	height: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #FFFFFF;
	border-bottom: 3px solid rgba(102,102,120, .4);
	box-shadow: -1px 9px 7px -7px rgba(102,102,120, .8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.centr-inf-room{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.inf-room-img{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
.inf-room-img p{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.inf-room-img span{
	color: #00BEDF;
	padding: 0 3%;
}
.descr-bottom .bottom-order{
	width: 18%;
	height: 65%;
	}
.room-img{
	display: block;
	width: 50%;
}
.room-img img{
	display: block;
	width: 100%;
	border-radius: 10px;
}
.descr-bottom{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
/* srction question */
#question{
	background-color: #F3F3F3;
	position: relative;
}
#question .glass{
	animation-name: background-linear;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: radial-gradient(ellipse at center, rgba(103, 189, 221, .4), rgba(103, 189, 180, .4));
}
#question .container, #question .row, #question .col-lg-12{
	height: 100%;
}
@keyframes background-linear {
	0% {
		opacity: .4;
		background: radial-gradient(ellipse at center, rgba(103, 189, 180, .4),rgba(103, 189, 221, .4) );
	}

	50% {
		outline: .8;
		background: radial-gradient(ellipse at center, rgba(103, 189, 221, .4), rgba(103, 189, 180, .4));
	}

	100% {
		outline: .4;
		background: radial-gradient(ellipse at center, rgba(103, 189, 180, .4),rgba(103, 189, 221, .4));
	}
}
.care{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.care-inf{
	width: 100%;
	height: 33%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.care-inf:nth-child(2){
	align-self: center;
}
.care-inf:nth-child(3){
	align-self: flex-end;
}
.care-inf img{
	width: 30%;
}
.care-text{
	width: 70%;
}
.care-text p{
	color: #797979;
}
.care-text span{
	font-size: 1.1rem;
	letter-spacing: 1px;
	color: #00BEDF;
	text-shadow: 1px 1px 1px #008299;
}
/* section capabilities */
#capabilities{
	background: url(../img/4683.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}